<style amp-custom>


@import 'bourbon/bourbon';

@import 'syntax-highlighting';

amp-img {
  background-color: grey;
}

main {
  display: block;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0px;
  padding: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: 'liga' 1, 'dlig' 1;
}

.site-header {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 16px auto 0px;
}

.content {
  width: 100%;
  max-width: 700px;
  margin: 25px auto 0px;
}

.share {
  text-align: right;
  padding: 10px 0px 0px;
}



</style>
