<head>
  
 
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
  {% comment %} {% endcomment %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.5'> 
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  
  
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
 <meta name="author" content="{{ site.name }}" />  {% if page.title %}  <meta property="og:title" content="{{ page.title }}" />  <meta name="copyright" content="Все права принадлежат Дмитрию Бартошевичу - www.psycareer.ru"> <meta property="twitter:title" content="{{ page.title }}" />   {% endif %}
  
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  

<link rel="author" href="https://plus.google.com/u/0/+DmitryBartoshevich?rel=author"/>

<meta property="og:locale" content="ru_RU">
<meta property="og:type" content="article">
<meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}psycareer.ru{% endif %}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:image" content="{% if page.image %}{{ site.url }}{{ page.image }}{% else %}http://www.psycareer.ru/assets/images/218.png{% endif %}" />
<meta property="og:site_name" content="psycareer.ru">
<meta property="article:publisher" content="https://plus.google.com/u/0/+DmitryBartoshevich" />
<meta property="article:author" content="https://plus.google.com/u/0/+DmitryBartoshevich?rel=author" />
<meta property="article:published_time" content="{{ page.date }}" />
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}psycareer.ru{% endif %}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:site" content="@psycareer" />
<meta name="twitter:creator" content="@psycareer">
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="{% if page.image %}{{ site.url }}{{ page.image }}{% else %}http://www.psycareer.ru/assets/images/218.png{% endif %}">



  

  <script type="application/ld+json">
  {% include metadata.json %}
  </script>

    
  <style amp-custom>
  {% capture include_to_scssify %}
    {% include styles.scss %}
  {% endcapture %}
  {{ include_to_scssify | scssify }}
  </style>



  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  
  <link rel="icon" sizes="32x32" href="/assets/images/32.jpg"/>
  <link rel="icon" sizes="48x48" href="/assets/images/48.jpg"/>
  <link rel="icon" sizes="64x64" href="/assets/images/64.jpg"/>
  <link rel="icon" sizes="128x128" href="/assets/images/128.jpg"/>
  <link rel="icon" sizes="218x218" href="/assets/images/218.png"/>
  
   <link rel="apple-touch-icon" sizes="32x32" href="/assets/images/32.jpg"/>
  <link rel="apple-touch-icon" sizes="48x48" href="/assets/images/48.jpg"/>
  <link rel="apple-touch-icon" sizes="64x64" href="/assets/images/64.jpg"/>
  <link rel="apple-touch-icon" sizes="128x128" href="/assets/images/128.jpg"/>
  <link rel="apple-touch-icon" sizes="218x218" href="/assets/images/218.png"/> 
 
</head>
