<div class="share">


  <div class="social-likes">
  	<div data-service="facebook" aria-label="facebook" title="Поделиться в Facebook"></div>
  	<div data-service="twitter" aria-label="twitter" title="Твитнуть"></div>
  		<!-- <div data-service="pinterest" title="Share link on Pinterest" data-media="image link, required">Pinterest</div> -->
  	 <div data-service="vkontakte" aria-label="vkontakte" title="Рассказать во ВКонтакте"></div>
  	 <div data-service="odnoklassniki" aria-label="одноклассники" title="Поделиться с одноклассниками"></div>
     <div data-service="telegram" aria-label="telegram">	</div>
  </div>




{% comment %}


<div class="likely likely-big">

  <div class="facebook" title="Поделиться"></div>
  <div class="vkontakte" title="Поделиться"></div>
  <div class="telegram" title="Отправить"></div>
  <div class="odnoklassniki" title="Поделиться"></div>
  <div class="twitter" title="Твитнуть"></div>
  <div class="linkedin" title="Поделиться"></div>
  <div class="whatsapp" title="Поделиться"></div>
</div>
{% endcomment %}


</div>
