
<b>Поделиться:</b>&nbsp;<a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" title="поделиться в фейсбуке"  ><i class="svg-icon facebook"></i> </a>

<a href="https://twitter.com/intent/tweet?text={{page.title}}&url={{site.url}}{{page.url}}" title="твитнуть" ><i class="svg-icon twitter"></i> </a>
   
     
<a  href="https://vk.com/share.php?url={{site.url}}{{page.url}}" title="опубликовать во вконтакте" > <i class="svg-icon vkontakte"></i></a>
<p>&nbsp;</p>


          
