<link rel="stylesheet" href="/style/style.css">




<script async src="https://unpkg.com/social-likes-next/dist/social-likes.min.js"></script>




<style>
  html, body {
  height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
    background-color: #303030;
    color: #c2c2c2;
  }

  .footer a {
	background-color: transparent;
	color: #999;
  text-decoration: none;
	cursor: pointer;
}

.footer a:hover, .footer a:active {
color: #c1e0fe;
	border-bottom: 1px solid #4ccda8;
	text-decoration: none;
}

  .multicolumn {
-webkit-column-width: 360px;
column-width: 360px;
-webkit-column-gap: 3em;
column-gap: 3em;
-webkit-column-rule: 1px solid #ccc;
column-rule: 1px solid #ccc;
margin: 2em 0;
}
.share {
  height:48px;
}

.related_posts {
  background: #f7f7f7;
  margin-top: 8vh;
  padding: 10.5px;
}

.noperenos {
white-space: nowrap;
}

a {
  outline: none;
}

/* video */


.video {
  	width: 100%;
  	position: relative;
  	margin-top: 20px;
  	margin-bottom: 2em;
  	padding-top: 56.25%;
}
.video iframe, .video object, .video embed{
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
}

iframe {
	border:0;
	overflow:hidden;
}

.videoname {
	margin-top:-1.95em;
	color: #333;
    font-size: 13px;
    line-height: 19px;
}

/* подчеркивание */
mark {background: #ffffa1;
background: linear-gradient(180deg,rgba(255,255,255,0) 45%, #ffffa1 55%);
padding: 1px 0; }


</style>

{% comment %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">

{% endcomment %}
