---
layout: compress
---

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>


    {% include style.html %}
    {% include meta.html %}



  </head>
  <body>
<div class="content">
  {% include nav.html %}



        <section class="section">
              <div class="container">
<div class="columns">
                      <div class="column is-7 ">




                			     <h1 class="title is-2" itemprop="name">{{ page.name }}</h1>

                            <div itemprop="articleBody">
                            	{{ content }}
                            </div>
                          	<p>&nbsp;</p>
{% include likely.html %}



                            {% comment %}
                      			<div class="wtf	">
                      		    {{ page.date | date: "%e %B %Y" | replace: 'January', 'января' | replace: 'February', 'февраля' | replace: 'March', 'марта' | replace: 'April', 'апреля' | replace: 'May', 'мая' | replace: 'June', 'июня' | replace: 'July', 'июля' | replace: 'August', 'августа' | replace: 'September', 'сентября' | replace: 'October', 'октября' | replace: 'November', 'ноября' | replace: 'December', 'декабря' }}
                      		 	 </div>
                             {% endcomment %}

                		</div>

<div class="column is-1"> </div>
<div class="column is-4 ">
<aside>
{% include related.html %}
</aside>
  </div>

</div>

          	</div>
      </section>



</div>

{% include footer.html %}

  {% include script.html %}

  </body>
</html>
