---
layout: default
---
<main class="content" role="main">
  <article class="post">
    <div class="post-meta">
      <h1 class="post-title">{{ page.name }}</h1>
    </div>

    <section class="post-content">
      <a name="topofpage"></a>
      {{content}}
    </section>
    <footer class="post-footer">
      <section class="share">
        {% include share.html %}
      </section>
      <section class="post-content">
      {% include related.html %}
      </section>
    </footer>
    <div class="bottom-teaser cf">
      <div class="isLeft">
        <h5 class="index-headline featured"><span>Обо мне</span></h5>
        <section class="author">
          <div class="author-image"></div>
          <h4>{{ site.name }}</h4>
          <p class="bio">{{site.bio}}</p>

          <p>      
              <a href="mailto:Dmitry.Bartoshevich@psycareer.ru"><b>Написать письмо →</b> Dmitry.Bartoshevich@psycareer.ru</a></p>
            <p>&nbsp;</p>
<p>
            
              <b><a href="https://twitter.com/psycareer" rel="nofollow">Твитер</a> 
            
             - <a href="https://vk.com/psycareer" rel="nofollow">ВКонтакте</a></b>
              
            
          </p>
          <hr>
          <p class="published">&copy; 2010-2019 
  </p>
        </section>
      </div>
      <div class="isRight">
        <h5 class="index-headline featured"><span>Консультация</span></h5>
        
        <div class="right-footer"> 
           <p>Вы&nbsp;можете заказать у&nbsp;меня платную консультацию по&nbsp;скайпу. </p>
<p class="bio">Я&nbsp;разберу задачи и&nbsp;ситуацию, дам обратную связь и&nbsp;рекомендации, помогу составить план действий. Стоимость одного часа обсуждения&nbsp;— <del>$40</del>,<del>$50</del>, $60.</p>
<p class="bio">Консультация может не&nbsp;соответствовать вашим ожиданиям. Боюсь, в&nbsp;этом случае я&nbsp;не&nbsp;смогу вернуть деньги. Если вас это не&nbsp;пугает и&nbsp;вы&nbsp;находите для себя возможную пользу от&nbsp;общения со&nbsp;мной, буду рад помочь.</p>
         
           
          </div>
        </footer>
      </div>
    </div>
    {% include footer.html %}
  </article>
</main>
